.shop{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.product-container{
    border: 2px solid red;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    grid-row-gap:45px
}